html, body {
    height: 100%;
    padding-top: 40px;
    font-family: normal "Open Sans";
}

#project {
    margin: 20px 0 10px 0;
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

#project h4 {
    margin: 0;
    padding-top: 15px;
}

#editor {
    min-height: 400px !important;
}

.alert {
    margin-top: 10px;
}

pre.ccs-error {
    border: 1px solid red;
}

#editor-container, #explorer-container {
    display: none;
}
