table.widget-transition-table > tbody > tr:hover {
	background: rgba(0, 0, 0, 0.07);
	background-color: rgba(0, 0, 0, 0.07);
	cursor: pointer;
}

table.widget-transition-table table {
    height: 230px;
    overflow: auto;
}

table.widget-transition-table p {
    margin-left: 20px;
}

table.widget-transition-table p, table.widget-transition-table .tooltip, table.widget-transition-table tbody {
    font: normal 14px "Inconsolata";
    color: #333;
}

table.widget-transition-table th.narrow {
    width: 15%;
    min-width: 140px;
}