[submodule "lib/ace"]
	path = lib/ace
	url = git@github.com:figa12/ace-builds.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "lib/fontawesome"]
	path = lib/fontawesome
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "modules/ace"]
	path = modules/ace
	url = git@github.com:figa12/ace.git
